/* Light mode styles for RunningCampaign */
.running-campaign {
    background-color: white; /* Light mode background */
    color: black; /* Light mode text color */
  }
  
  /* Dark mode styles for RunningCampaign */
  body.dark-mode .running-campaign {
    background-color: black; /* Dark mode background */
    color: white; /* Dark mode text color */
  }
  